/*
.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: whitesmoke;
}
*/

/*==========================================*/

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1em;
}

.title {
  font-family: 'Playfair Display';
  margin-right: 0.5em;
}

.subtitle {
  font-family: 'Great Vibes';
}

.container {
  /* margin-top: 50px; */
  text-align: center;
  border: 1px solid red;
}

.image-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(50px, auto);
}

.image-grid .image-item:nth-child(5n) {
  grid-column-end: span 2;
}

.image-grid img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#loader {
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 4em auto 1em;
  display: block;
  vertical-align: top;
}

.search {
  border-radius: 100px;
  padding: 0.8em;
  border: 2px solid lightgrey;
}
